user_ocid = "ocid1.user.oc1..aaaaaaaaolhp6h2gdmngv5q3r5dzczpd6ozmos4fuwsvgb4la64y6wkw7yra"
fingerprint = "0d:36:ce:f5:24:79:18:0a:fc:69:2e:8d:6a:2a:c9:3d"
private_key_path = "./edss-svc-acct-11-25-08-07.pem"
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaa3fqnszolanwv5xwddm4rgby7meepnj4t47eyc4grgzlaxkimmxaa"
region = "us-phoenix-1"
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaac562f76xo2zqwsg4j4vmyxakrnfx3wyjwkqxfss6hjsagzzicwpq"

#compute_compartment_ocid = "ocid1.compartment.oc1..aaaaaaaac562f76xo2zqwsg4j4vmyxakrnfx3wyjwkqxfss6hjsagzzicwpq"
#network_compartment_ocid = "ocid1.compartment.oc1..aaaaaaaac562f76xo2zqwsg4j4vmyxakrnfx3wyjwkqxfss6hjsagzzicwpq"
availability_domain_number = "1"
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbXH8gsEXwMucDYfB3YaCdn/BST6l+cZdlltVxHmvW0ILCVicPLZkEALRY/P1C4acgY/fkaGPT8IEeR5RZpBmd2xL5BKo0JdwSMbY+aUUQrKkXlNi44tFy3XAW36CamClvnxDq51jRcjWXsuFeoJOHCOv31/gWwyY2UcBem/XC1ZLrLcKtcpQglalSwwP9rc19RitZeOthxFZbSiI0hgXUw/knMetx7ncGeRjJMvw4PwS+y5MZ7w/LDqa63MEEY8UzaABRShUqQ2aZiTlihVca1G4/mtKj3ChTRCEgEinLRnTf5o1NieifBKVfIKMGaHGtPlD9pZaGp2j1ilpOL1sjm2b/m9+WqaHy2/oFsVcCJQ9U3gFxIZadpSSEqS7JHlR543EzLPUBRwVbZY9QHI/6AShbzzAQRiSouUmFdusGo1m8rsD2KzdgfZDifPxPy6SBzjt4TmjzdEC/SNwUReV8EAjUo2JDWDc6NqfVwAnYryl7l7RkZ7o4qmFYzu6k7dckhVqVikJfnrqriS29TykAv/S+7CZtgZtPnViVER5r7aQXlbhl2rJDZFbVpC5V4zXymGaxp4IPJ+MIyJOiTlrWGHfODwoHKjN+x4r0K4Fw69YBGTF4FjMjfDJn3PAKXhan1hYBReqIXKgMfE22YFP0pOXiLU/x0IFNFwybqWdk0Q== jagadeeshb@datatemplate.com"
